<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="content">
        <div id="main-menu" class="scene" >
            <div class="menu-bar">Main Menu</div>
            <button id="find" class="menu-button">Play</button>
        </div>  

        <div id="find-match" class="scene"> 
            <div class="menu-bar">Find Match</div>
            <span id="characters-text">Select Avatar</span>
            <div id="characters"></div>
            <button id="create" class="menu-button">Create New</button>
        
            <button id="back" class="menu-button">Back</button>
        </div>  

        <div id="character-create" class="scene">
            <div class="menu-bar">Find Match</div>
            <div id="customize">
                <div id="customize-options"></div>
                <div id="enter-name"> 
                    Name: <input type="text" class="input-field" placeholder="John Smith" id="name-input">
                </div>
                <button id="done" class="menu-button" disabled>Done</button>
            </div>
            <button id="back" class="menu-button">Back</button>
        </div> 

        <div id="match-making" class="scene">
            <div class="menu-bar">Find Match</div>
            <button id="random-match" class="menu-button">Random Match</button>
            <button id="back" class="menu-button">Back</button>
        </div>
        
        <div id="searching" class="scene">
            <div class="menu-bar">Searching New Match</div>
            <span id="searching-text">Searching</span>
            <span class="loader"></span>
            <button id="back" class="menu-button">Cancel</button>
        </div>
        
        <div id="game" class="scene">
            <canvas id="ab" width="700" height="700" style="background-color: black;"></canvas>
        </div>
        
    </div> 
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="Character.js"></script>
    <script src="menu.js"></script>
    <script src="game.js"></script>
</body>


</html>